<p class="alert alert-warning mt-7 text-center">
    سفر جاری فعلا وجود ندارد
</p>
  <script>
    function exitaccept()
{
  window.location.href="/Admin/home/privacy";
}
</script>
<script>
  function b(phone)
  {
    
        window.location.href="/Admin/mapclient/mapclient?phone="+phone;
    
  }


  
</script>