<p class="alert alert-warning mt-7 text-center">
    راننده دیگری زودتر از شما مسافر را  قبول کرد
</p>
  <script>
    function exitaccept()
{
  window.location.href="/driver/home/privacy";
}
</script>
<script>
  function b(phone)
  {
    
        window.location.href="/driver/mapclient/mapclient?phone="+phone;
    
  }


  
</script>